<div class="card mb-3">
  <div class="card-header">
    <h3 class="text-uppercase">
      <a href="{% url 'term' definition.term %}">
        {{definition.term }}
      </a>
    </h3>
  </div>
  <div class="card-body">
    <p>{{ definition.definition }}</p>
    <p class="font-italic">{{ definition.example }}</p>
    <div data-definition_id="{{ definition.id }}" class="d-flex like-dislike-container">
      <button data-definition_id="{{ definition.id }}"
      class="btn btn-outline-primary d-flex align-items-center like-button mr-2"
      id="like-button-{{ definition.id }}">
        <svg class="like-icon mr-2" id="like-icon-{{ definition.id }}"
        xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
          <path fill="#6956e2" d="M24 22h-24l12-20z"/>
        </svg>
        <span id="like-counter-{{ definition.id }}" class="like-counter">
          {{ definition.likes.count }}
        </span>
      </button>
      <button data-definition_id="{{ definition.id }}"
      class="btn btn-outline-danger d-flex align-items-center dislike-button"
      id="dislike-button-{{ definition.id }}">
        <svg class="dislike-icon mr-2" id="dislike-icon-{{ definition.id }}"
        xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
          <path fill="#f24153" d="M12 21l-12-18h24z"/>
        </svg>
        <span id="dislike-counter-{{ definition.id }}" class="dislike-counter">
          {{ definition.dislikes.count }}
        </span>
      </button>
    </div>
    <hr>
    <div class="metadata-container">
      <span class="d-block">
        <span>
          Defined by
        </span>
        <span class="font-weight-bold">
          {{ definition.username }}
        </span>
        <span>
          on
        </span>
        <span class="font-weight-bold">
          {{ definition.created_date | date:"F d, Y" }}
        </span>
      </span>
    </div>
    {% if definition.username == request.user %}
    <hr>
    <div class="d-flex edit-delete-button-container">
      <div class="edit-button-container mr-2">
        <a href="{% url 'edit_definition' definition_id=definition.id %}"
        class="btn btn-primary edit-button" role="button">
          Edit
        </a>
      </div>
      <div class="delete-button-container">
        <button data-definition_id="{{ definition.id }}"
        class="btn btn-danger delete-button">
          Delete
        </button>
      </div>
    </div>
    {% endif %}
  </div>
</div>