{% extends "suburban_dictionary/layouts/default.html" %}

{% block title %} Home {% endblock %}

{% block body %}

{% include "suburban_dictionary/includes/navbar.html" %}

<div class="d-flex align-items-center hero-container bg-primary text-center">
  <div class="hero-title-container">
    <h1>
      <span class="hero-title">SUBURBAN</span>
      <span class="hero-title">DICTIONARY</span>
    </h1>
    <h5 class="hero-subtitle">DEFINED BY YOU.</h5>
  </div>
  <div class="hero-content">
  </div>
</div>

{% endblock %}