/* Variables */

$primary: #6956e2;
$secondary: #fb651d;

$danger: #f24153;

$dark: #23181c;
$light: #fcfced;

$black: #23181c;
$white: #fcfced;

$shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

$font-family-base: "IBM Plex Sans Condensed", sans-serif;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

/* Import */

@import "bootstrap/bootstrap.scss";

/* Document */

html,
body {
  margin: 0;
}

::selection {
  background-color: lighten($primary, 25%);
  color: $black;
}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

a {
  transition: color 0.3s ease;
}

/* Containers */

.container {
  max-width: 960px;
}

.entire-height {
  min-height: 100vh;
  height: 100%;
}

.full-height {
  min-height: 100%;
  height: 100%;
}

.full-width {
  min-width: 100%;
  width: 100%;
}

.navbar-margin {
  margin-top: 72px;
}

/* Background */

.bg-gradient-primary {
  background: rgb(159, 147, 236);
  background: linear-gradient(
    0deg,
    rgba(lighten($primary, 20%), 1) 0%,
    rgba($primary, 1) 100%
  );
}

/* Popup Message */

#popup-message-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($dark, 0.5);
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}

/* Hero */

.hero-container {
  padding: 66px 10px 0 10px;
  height: 100vh;
  width: 100%;
}

.bg-hero {
  background-image: linear-gradient(rgba($dark, 0.25), rgba($dark, 0.85)),
    url(../img/hero_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title-container {
  width: 100%;
  margin: 0 auto;
}

.hero-title {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 4.25rem;
  }

  .hero-subtitle {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .hero-title {
    font-size: 5.5rem;
  }

  .hero-subtitle {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 6.5rem;
  }

  .hero-subtitle {
    font-size: 3.5rem;
  }
}

/* Login/Register Card */

.login-register-card {
  max-width: 420px;
  width: 100%;
}

/* New Definition */

.definition-form-container {
  max-width: 768px;
  margin: 0 auto;
}

#term-input-label,
#definition-input-label,
#example-input-label {
  width: 100%;
  justify-content: center;
}

/* Like/Dislike Buttons */

.like-button,
.dislike-button {
  cursor: pointer;
  transition: all 0.3s ease;
}
